@import '../../../assets/css/color.scss';

.home-section{
    position: relative;
    padding-top: 0px;
    padding-bottom: 20px;
    background: $whiteColor;
    .intro{
        padding: 15px;
        padding-top: 0px;
    }
    .w-div{
        margin-top: 100px;
    }
    .phone-img{
        display: none;
    }
    .welcome-title{
        font-size: 50px;
        text-transform: uppercase;
        background: -webkit-linear-gradient(#232020, #000000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
    .sub-title{
        color: $blueColor;
    }
    .l-about{
        width: 70%;
        font-size: 14px;
        .home-icon{
            font-size: 16px;
            i{
                color: $blueColor;
            }
        }
    }
    .ussd-div{
        margin-top: 5rem;
        position: relative;
        .ussd-image{
            width: 500px;
            img{
                width: 100%;
            }
    }
}
}
@media screen and (max-width: 768px){
    .home-section{
        position: relative;
        .w-div{
            margin-top: 30px;
            text-align: center;
        }
        .phone-img{
            width: 100%;
            display: block;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 60%;
            }
        }
        .l-about{
          width: 100%;
          font-size: 14px;
          margin-top: 2rem !important;
        }
        .about-app{
            text-align: center;
        }
        .footer{
            padding-left: 5%;
        }
    }
}