@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import './color.scss';
.index-layout{
    .index-header{
        position: relative;
        width: 100%;
        z-index: 10;
        background: $whiteColor;
        .logo-default{
            width: 120px;
            position: absolute;
            top: 0;
            margin-top: 30px;
        }
        .menu-cnt{
            a{
                cursor: pointer !important;
                outline: none;
                box-shadow: none;
            }
        }
        .auth-link-btn{
            padding: 15px;
            padding-left: 25px;
            padding-right: 25px;
            text-transform: lowercase;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            margin-top: 10px;
            background: $whiteColor;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $blackColor;
            font-weight: bold;
            font-size: 14px;
            outline: none !important;
            box-shadow: none !important;
            cursor: pointer;
            margin-left: 20px;
            margin-right: 20px;
            .logout-btn{
                font-size: 15px;
                .log-icon{
                padding-right: 5px;
                font-size: 18px;
                margin-top: -5px;
                color: $redColor;
                }
            }
        }
        .signin-link{
            background: linear-gradient(#8a3ffb, $redColor);
            color: $whiteColor;
            border: 1px solid $whiteColor;
        }
        .signin-link:hover{
            background: linear-gradient(#8a3ffb, $redColor);
            color: $whiteColor;
            border: 1px solid $whiteColor;
        }
    }
    .profile-info{
        padding: 50px;
        box-shadow: 0px 5px 10px 0px #0000001c;
        margin-top: -7px;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        padding-bottom: 70px;
        .profile-menu{
            a{
                color: $blackColor;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
    .red-color{
        color: $redColor;
    }
    .success-color{
        color: #1b9a49 !important;
        font-weight: bold !important;
    }
    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        background: #0000007a;
        width: 100%;
        z-index: 100;
        left: 0;
        right: 0;
        .popup-modal{
            width: 25%;
            margin: auto;
            padding: 50px;
            background: $whiteColor;
            margin-top: 150px;
            border-radius: 20px;
            position: relative;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
            .alert-pop{
                margin-bottom: 15px;
            }
            .alert-icon{
                font-size: 40px;
                position: absolute;
                top: 0px;
                margin-top: 40px;
            }
            .pop-text{
                margin-left: 50px;
                font-size: 14px;
                width: 70%;
            }
            .bt{
                padding: 15px;
                margin: 5px;
                border-top-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            .unsubtn{
               background: $redColor;
               border-color: $redColor;
               outline: none !important;
               box-shadow: none !important;
            }
            .cancel-btn{
                margin-left: 30px;
            }
        }
    }
    @media screen and (min-width : 1824px){
        .popup-modal{
            width: 20%;
        }
    }
}