@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import './color.scss';
.index-layout{
    .index-header{
        position: relative;
        width: 100%;
        z-index: 10;
        background: $whiteColor;
        .logo-default{
            width: 140px;
            position: absolute;
            top: 0;
            margin-top: 30px;
        }
        .menu-cnt{
            a{
                cursor: pointer !important;
                outline: none;
                box-shadow: none;
            }
        }
        .auth-link-btn{
            padding: 15px;
            padding-left: 25px;
            padding-right: 25px;
            text-transform: lowercase;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            margin-top: 10px;
            background: $whiteColor;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $blackColor;
            font-weight: bold;
            font-size: 14px;
            outline: none !important;
            box-shadow: none !important;
            cursor: pointer;
            margin-left: 20px;
            margin-right: 20px;
            .logout-btn{
                font-size: 15px;
                .log-icon{
                padding-right: 5px;
                font-size: 18px;
                margin-top: -5px;
                color: $redColor;
                }
            }
        }
        .signin-link{
            background: $blackColor;
            color: $whiteColor;
            border: 1px solid $whiteColor;
        }
        .signin-link:hover{
            background: $blackColor;
            color: $whiteColor;
            border: 1px solid $whiteColor;
        }
    }
    .profile-info{
        padding: 50px;
        box-shadow: 0px 5px 10px 0px #0000001c;
        margin-top: -7px;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        padding-bottom: 70px;
        .profile-menu{
            a{
                color: $blackColor;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
    .red-color{
        color: $redColor;
    }
    .success-color{
        color: $blueColor!important;
        font-weight: bold !important;
    }
    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        background: #0000007a;
        width: 100%;
        z-index: 100;
        left: 0;
        right: 0;
        .popup-modal{
            width: 25%;
            margin: auto;
            padding: 50px;
            background: $whiteColor;
            margin-top: 150px;
            border-radius: 20px;
            position: relative;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
            .alert-pop{
                margin-bottom: 15px;
            }
            .alert-icon{
                font-size: 40px;
                position: absolute;
                top: 0px;
                margin-top: 40px;
            }
            .pop-text{
                margin-left: 50px;
                font-size: 14px;
                width: 70%;
            }
            .bt{
                padding: 15px;
                margin: 5px;
                border-top-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            .unsubtn{
               background: $redColor;
               border-color: $redColor;
               outline: none !important;
               box-shadow: none !important;
            }
            .cancel-btn{
                margin-left: 30px;
            }
        }
    }
    .loadings{
        .loading-wait{
            text-align: center;
            width: 100%;
        }
    }
    @media screen and (min-width : 1824px){
        .popup-modal{
            width: 20%;
        }
    }
    .latest-performance{
        position: relative;
        width: 70%;
    }
    .titles{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 1.5rem !important;
        margin-left: 4px;
    }
    .b-box{
        box-shadow: 0px 5px 10px 0px #0000001c;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
        a{
            text-decoration: none;
            color: $blackColor;
        }
        .box-number{
            font-size: 13px;
            font-weight: bold;
            margin-top: 5px;
            color: $blueColor;
        }
        .b-icon{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 35px;
            margin-right: 10px;
           margin-top: 5px;
        }
    }
    .sections{
        position: relative;
        .section-header{
            position: relative;
        }
    }
    .m--75{
        position: relative;
        width: 70%;
    }
    .w-85{
        width: 85%;
        position: relative;
    }
    .btn-new{
        padding: 15px;
        border-radius: 5px;
    }
    .msg-div{
        position: absolute;
        top: 0;
        margin-left: 200px;
        margin-top: 50px;
        color: $blueColor;
        text-transform: lowercase;
    }
    .custom-msg-error{
        margin-top: 40px !important;
    }
}
.auth-ad{
    position: relative;
    display: flex;
    justify-content: center;
    height: 70vh;
    padding-top: 100px;
    .ad-logo{
        width: 150px;
        margin-bottom: 1rem;
    }
    .title{
        font-weight: bold;
        font-size: 17px;
        margin: 10px;
        margin-bottom: 3rem;
    }
    .forms-ad{
        width: 30%;
        position: relative;
        input, button{
            width: 100%;
            height: 70px;
            border-radius: 15px;
            border: none;
            outline: none !important;
            box-shadow: none !important;
            font-size: 16px;
        }
        input{
          box-shadow: 0px 1px 2px 1px #eaeaea !important;
          padding-left: 20px;
        }
        button{
            background: $blackColor;
            font-weight: bold;
        }
        .ad-error{
            text-align: center;
            font-size: 12px;
            margin-bottom: 20px;
            font-weight: bold;
        }
    }
}
.red-color{
    color: $redColor;
}
.view-in-table{
    th{
        font-size: 13px;
        border-bottom: 1px solid #f8f8f8 !important;
    }
    td{
        font-size: 13px;
    }
    th, td{
        padding: 20px;
        border: none;
    }
    .holder{
        margin-top: -10px;
    }
    .trs-thead{
        border-left: 2px solid $blueColor;
    }
    .trs:hover{
        border-left: 2px solid #6c757d;
        cursor: pointer;
    }
    .station, .subject{
        position: relative;
    }
    .t-icon{
        color: #6c757d;
        font-size: 15px;
    }
    .t-name{
        position: absolute;
        top: 0;
        margin-left: 1.5rem;
        margin-top: 5px;
        font-size: 12px;
    }
    .t-actions{
        button{
            margin: 5px;
        }
    }
}
.del{
    background: $redColor !important;
    border: 1px solid $redColor !important;
}
.react-datepicker-wrapper{
    width: 100%;
}
.datePicker{
    width: 100%;
    padding: 10px;
}
.changeError-onModal{
    width: 300px !important;
    font-size: 10px !important;
    top: 25px !important;
}